{%- macro underline(text, char="~") %}
{{text}}
{% for i in range(0, text|length) %}{{ char }}{% endfor %}
{%- endmacro %}
{%- set doc = collection_item %}
{{- underline(doc.title) }}

*{{ doc.author }}*

{{ doc.text }}