{% macro underline(text, char="~") %}
{{text}}
{% for i in range(0, text|length) %}{{ char }}{% endfor %}
{% endmacro %}

{{ underline(title) }}

*{{ author }}*

{{ text }}

{% for item in list %}
* {{ item }} {{ loop.index }}
{% endfor %}
