{% import "macro.html.j2" as macro %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block page_title %}{{ current.title }} - {{ meta.title|default("FIXME! Project title is missing") }}{% endblock %}</title>
    {% if document.description or meta.description %}
    <meta name="description" content="{{ document.description|default(meta.description|default("FIXME! Description is missing")) }}">
    {% endif %}
    <meta name="author" content="{{ meta.author|default("FIXME! Author is missing.") }}">
    <meta name="keywords" content="{{ meta.keywords|default("FIXME! Keywords are missing.") }}">
    <meta name="generator" content="DocGen <https://gitlab.com/tomaskadlec/docgen>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style type=text/css>
        {% block style %}
        body {
            width: 100%;
            font-family: serif;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            border: 0;
            max-width: none;
        }

        body > *:first-child {
            flex-grow: 1;
            width: 20%;
        }

        body > * {
            flex-grow: 4;
            width: 80%;
            overflow-y: scroll;
            height: 100vh;
            margin-left: 1em;
            padding-right: 1em;
        }

        nav ul {
            padding-left: 1.5em;
        }

        nav > ul {
            padding-left: 0em;
        }

        nav li {
            list-style: none;
        }

        table {
            width: 100%;
        }

        table th:first-child, table td:first-child {
            padding: 12px 15px;
        }

        article > aside {
            float: right;
            width: 20em;
            margin-left: 2em;
        }

        article > div.content {
            max-width: 120ch;
        }
        {% endblock %}
    </style>
</head>
<body class="container">
    <nav class="typesettings">
        {% block toc %}
        {{ macro.render_toc(current, toc, toc_title|default(False)) }}
        {% endblock %}
    </nav>

    <article>
        <header>{% block header %}{{ document.header|default() }}{% endblock %}</header>

        <aside>
            {{ macro.render_document_toc(document.toc, doc_title|default(False)) }}
        </aside>

        {% block content %}
        {{ macro.render_content(document, current, nav, nav_prev, nav_next) }}
        {% endblock %}

        <footer>{% block footer %}{{ document.footer|default() }}{% endblock %}</footer>
    </article>
</body>
</html>