{% macro render_toc(current, toc, toc_title) %}
    {% if toc_title %}
    <h1>{{ toc_title }}</h1>
    {% endif %}
    {{ _render_toc(current, toc) }}
{% endmacro %}

{%- macro _render_toc(current, toc) %}
    <ul>
    {% for entry in toc|default([]) if entry.input is defined and entry.title is defined %}
        <li>
            <a href="{{ entry.input|relpath(current.input|default("./-")) }}">{{ entry.title }}</a>
            {% if entry.files is defined and entry.files %}
                {{ _render_toc(current, entry.files) }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{%- endmacro -%}

{%- macro render_document_toc(toc, doc_title) -%}
    {% if doc_title %}
    <h1>{{ doc_title }}</h1>
    {% endif %}
    {{ _render_document_toc(toc) }}
{%- endmacro -%}

{%- macro _render_document_toc(toc) -%}
    <ul>
    {% for entry in toc|default([]) %}
        <li>
            <a href="#{{ entry[2] }}">{{ entry[1] }}</a>
            {% if entry[3] is defined and entry[3] %}
                {{ _render_document_toc(entry[3]) }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{%- endmacro -%}

{% macro render_content(document, current, nav, nav_prev, nav_next) %}
    <h1>{{ current.title|default("FIXME! Missing document title") }}</h1>

    <div class="content">
    {{ document.content|default("Something is wrong. There's no content.") }}

    <nav>
        {%- if nav|prev(current) %}
        <a href="{{ nav|prev(current) }}">{{ nav_prev }}</a>
        {%- endif %}
        {%- if nav|next(current) %}
        <a href="{{ nav|next(current) }}">{{ nav_next }}</a>
        {%- endif %}
    </nav>
    <hr />
    {{ document.footnotes|default("") }}
    </div>
{% endmacro %}