{% import "macro.html.j2" as macro %}
title: {{ current.title }}
meta: {{ meta|to_json }}
toc: {{ macro.render_toc(current, toc, toc_title|default(False))|to_json }}
doc: {{ macro.render_document_toc(document.toc, doc_title|default(False))|to_json }}
header: {{ document.header|default("")|to_json }}
footer: {{ document.footer|default("")|to_json }}
content: {{ macro.render_content(document, current, nav, nav_prev, nav_next)|to_json }}