<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block page_title %}{{ tpl_data.title }} - {{ tpl_data.meta.title }}{% endblock %}</title>
    {% if tpl_data.meta.description %}
    <meta name="description" content="{{ tpl_data.meta.description }}">
    {% endif %}
    <meta name="author" content="{{ tpl_data.meta.author }}">
    <meta name="keywords" content="{{ tpl_data.meta.keywords }}">
    <meta name="generator" content="DocGen <https://gitlab.com/tomaskadlec/docgen>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style type=text/css>
        {% block style %}
        {% endblock %}
    </style>
</head>
<body class="container">
    <nav class="typesettings">
        {% block toc %}
        {{ tpl_data.toc }}
        {% endblock %}
    </nav>

    <article>
        <header>{% block header %}{{ tpl_data.header }}{% endblock %}</header>

        <aside>
            {{ tpl_data.doc }}
        </aside>

        {% block content %}
        {{ tpl_data.content }}
        {% endblock %}

        <footer>{% block footer %}{{ tpl_data.footer }}{% endblock %}</footer>
    </article>
</body>
</html>